.App {
  display: flex;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  width: 100%;
  overflow: clip;
  aspect-ratio: 1;
  max-height: 80vh;
  max-width: 80vh;
}

.image-container {
  border: 5px solid transparent;
  border-color: white;
  animation: lottie-border-light 1s infinite step-end;
  display: flex;
  margin: 5px;
  min-width: 0;
  min-height: 0;
}

.image-container:hover,.image-container:active, .image-container:focus {
  border: 5px solid transparent;
  border-color: #e749d2;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
}

img.skeleton {
  object-fit: cover;
  background-color: rgba(0,0,0,0.85);
  height: 100%;
  width: 100%;
}

.skeleton {
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
}

.animate-button {
  height: 40px;
  width: 80%;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.animate-button:hover {
  background-color: #0056b3;
}

body {
  margin: 0;
}

@keyframes lottie-border-light {
  0% {
    border-color: white;
  }
  50%,
  100% {
    border-color: #c96ed1;
  }
}