.App {
  display: flex;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.animate-button {
  height: 40px;
  width: 90%;
  background-color: #ff351A;
  border: none;
  border-radius: 5px;
}

.animate-button:hover {
  background-color: #fa5b46;
}

:root{
  background-color: #191d24;
}
