.lottie-grid {
  display: grid;
  padding: 10px;
  width: 100%;
  overflow: clip;
  aspect-ratio: 1;
  max-height: 70vh;
  max-width: 70vh;
}

.lottie-item-container {
  border: 5px solid transparent;
  border-color: transparent;
  animation: lottie-border-light 1s infinite ease-in;
  display: flex;
  margin: 5px;
  min-width: 0;
  min-height: 0;
}
.lottie-item-container:hover,
.lottie-item-container:active,
.lottie-item-container:focus {
  border: 5px solid transparent;
  border-color: #e749d2;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
}
@keyframes lottie-border-light {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #c96ed1;
  }
}
